# This is the Jupyter notebook of my Task 1 assignment solution
## Tutor_Name  : Gift Ukpoweh
## Student_Name: Victor Ola
## Reg_Number  : DS/2025/TC3/244

## A.) Shopping List Manager Task

In [1]:
# Step 1: Creating a list of  items to be bought at Ochanja Market for Weekend Special Dinner

item_list = ["egusi", "fish", "vegetables", "ponmo", "crayfish"]
price = [450, 900, 300, 400, 200]
print(item_list)

['egusi', 'fish', 'vegetables', 'ponmo', 'crayfish']

In [2]:
# Step 2: Creating a dictionary where items are the key and price (#) is the value

market_list = {"egusi":450, "fish":900, "vegetables":300, "ponmo":400, "crayfish":200}
print(market_list)

{'egusi': 450, 'fish': 900, 'vegetables': 300, 'ponmo': 400, 'crayfish': 200}

In [3]:
# Step 3: Printing first and last items

print( f" The first item on the list is: '{next(iter(market_list.keys()))}' and the last item is: '{next(reversed(market_list.keys()))}'")

 The first item on the list is: 'egusi' and the last item is: 'crayfish'

In [4]:
#Step 4: Print the price of the most expensive item in the dictionary

most_expensive_item = max(market_list, key=market_list.get)
most_expensive_item_value = market_list[most_expensive_item]

print(f"The most expensive item on the shopping list is '{most_expensive_item}' and its price is #{most_expensive_item_value}")

The most expensive item on the shopping list is 'fish' and its price is #900

In [5]:
#Step 5: Adding two more items to the list.
## Ohh, I actually need pepper and onions to make my soup. I'll go ahead and add it to my list

market_list["pepper"] = 150
market_list["onions"] = 100
print(market_list)

{'egusi': 450, 'fish': 900, 'vegetables': 300, 'ponmo': 400, 'crayfish': 200, 'pepper': 150, 'onions': 100}

In [6]:
#Step 6: Find the total cost of all the items

total_cost = sum(market_list.values())
print(f"The total cost of the items in the list is: #{total_cost}")

The total cost of the items in the list is: #2500

In [7]:
#Step 7: Create a tuple with your 3 favorite items from the shopping list and print it

fav_tuple = tuple((market_list.keys()))
print (fav_tuple)

('egusi', 'fish', 'vegetables', 'ponmo', 'crayfish', 'pepper', 'onions')

In [8]:
#Step 7: Create a tuple with your 3 favorite items from the shopping list and print it

del market_list["ponmo"]
del market_list["fish"]
del market_list["pepper"]
del market_list["onions"]
new_market_list = market_list
fav_tuple = tuple(market_list)
print (new_market_list.keys())
print (fav_tuple)

dict_keys(['egusi', 'vegetables', 'crayfish'])
('egusi', 'vegetables', 'crayfish')

In [9]:
type(market_list)

dict

In [10]:
type(fav_tuple)

tuple

In [11]:
#Step 8: Display the items in your shopping list in alphabetical order

print (f" {sorted(market_list)}")

 ['crayfish', 'egusi', 'vegetables']

In [12]:
#Step 8: Display the items in your shopping list in alphabetical order. Alternatively using the tuple created

print(f" {sorted(fav_tuple)}")

 ['crayfish', 'egusi', 'vegetables']

## B.) Student Information System

In [13]:
#Step 1: Create variables to store student’s information

name = "James Agbadudu"
age = 25
gpa = 4.75
if gpa >= 1.5:
    status = "passed"
else:
    status = "failed"

In [14]:
#Step 2: Print a sentence that includes all of the student’s details.

print(f"My name is {name}. I am {age} years old with current GPA of {gpa}. That means I have {status} my courses")

My name is James Agbadudu. I am 25 years old with current GPA of 4.75. That means I have passed my courses

In [15]:
#Step 3: Create a list of 5 subjects the student is taking. Print the 2nd and 4th subjects

subjects = ["Mathematics", "Physics", "English", "Economics", "Biology"]
subjects[1::2]
print (f" The 2nd subject is {subjects[1]}, and the 4th is {subjects[3]}")

 The 2nd subject is Physics, and the 4th is Economics

In [16]:
#Step 4: Create a tuple of the student’s hobbies. Print the last hobby

student_hobbies = ("reading", "playing football", "adventure", "hiking", "swimming")
student_hobbies[-1]
print (f"The last student's hobby listed is: {student_hobbies [-1]}")

The last student's hobby listed is: swimming

In [17]:
#Step 5: Create a dictionary with the student’s details (keys: "name", "age", "gpa", "passed", "subjects"). Print the dictionary

student_details = {"name": name, "age": age, "gpa":gpa, "status":status, "subjects":subjects}
print (student_details)

{'name': 'James Agbadudu', 'age': 25, 'gpa': 4.75, 'status': 'passed', 'subjects': ['Mathematics', 'Physics', 'English', 'Economics', 'Biology']}

In [18]:
#Step 6: Suppose you have another list for the test scores of the students. The scores are: 78, 80, 92, 56, 85. Find the average test score

student_scores = [78, 80, 92, 56, 85]
average_score = sum(student_scores)/len(student_scores)
print(f" The average of the student's score of {student_scores} is: {average_score}")

 The average of the student's score of [78, 80, 92, 56, 85] is: 78.2

## C.) Restaurant Menu Organizer

In [19]:
#Step 1: Create a list of 5 food items sold in the restaurant

restaurant_food = ["fufu", "eba", "amala", "poundo", "beans"]

In [20]:
#Step 2: Create a tuple of 3 drink names

restaurant_drinks = ("pepsi", "coca-cola", "mirinda")

In [21]:
#Step 3: Create a dictionary that links each food item to its price

food_price = {"fufu":200, "eba":150, "amala":250, "poundo":300, "beans":100}

In [22]:
#Step 4: Print the 3rd food item from the list

restaurant_food[2]

'amala'

In [23]:
#Step 5:  Print the 1st drink from the tuple

restaurant_drinks[0]

'pepsi'

In [24]:
#Step 6: Print the price of the least expensive item from the dictionary

least_price_key = min(food_price, key=food_price.get)
least_price_value = food_price[least_price_key]
print (least_price_value)
print (f"The price of the least expensive food in the restaurant is: #{least_price_value}")

100
The price of the least expensive food in the restaurant is: #100

In [25]:
#step 7: Add 2 more food items to the list

food_price["rice"] = 200
food_price["Fried plantain"] = 50
print (food_price)

{'fufu': 200, 'eba': 150, 'amala': 250, 'poundo': 300, 'beans': 100, 'rice': 200, 'Fried plantain': 50}

In [26]:
#Step 8: Find the average food price

average_food_price = sum(food_price.values())//len(food_price)
print(f"The average price of the food in this restaurant is: #{average_food_price}")

The average price of the food in this restaurant is: #178

In [27]:
#Step 9: Print the full menu dictionary

print(f"In this restaurant, we have the following foods {food_price.keys()} and the drinks are {restaurant_drinks[0:]}")

In this restaurant, we have the following foods dict_keys(['fufu', 'eba', 'amala', 'poundo', 'beans', 'rice', 'Fried plantain']) and the drinks are ('pepsi', 'coca-cola', 'mirinda')